<h1>Fantasy Basketball Homepage</h1>
<p>
    Start by making a <a href="/leagues">League</a>.
</p>
<ul>
  <li><a href="/managers">Fantasy Managers</a></li>
  <li><a href="/leagues">Fantasy Leagues</a></li>
  <li><a href="/teams">Fantasy Teams</a></li>
  <li><a href="/players">NBA Players</a></li>
  <li><a href="/games">NBA Games</a></li>
  <li><a href="/gameplayed">Game Played</a></li>
  <li><a href="/rostered">Rostered Players</a></li>
  <li><a href="/waivers">Waiver Transactions</a></li>
</ul>